// basic structure of page
// scss-lint:disable IdSelector
body {
  background-color: $bgcolor;
}

body,
#app {
  position: absolute;

  width: 100%;
}

#app {
  > div {
    height: 100%;
    width: 100%;
  }
}

.page-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#scroll-handler {
  position: relative;

  width: 100%;
}

section {
  position: absolute;
  top: 10px;
  right: 4px;
  bottom: 10px;
  left: 10px;

  display: none;

  box-sizing: content-box;
  perspective: 600;
}

.background {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;
}

.section-title {
  @include h-center(210px);

  position: absolute;
  top: 80px;

  color: $light1;
  font-family: $josefin;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 70%;
}

.logo {
  position: absolute;
  top: 12px;
  left: 11px;

  height: 50px;
  width: 50px;

  background-image: url('./images/logo.svg');
  background-position: center;
  background-size: auto 32px;
  background-repeat: no-repeat;
  background-color: transparentize($bgcolor, .2);
  border-radius: 50%;

  cursor: pointer;
  transition: .2s ease-out;

  &:hover {
    background-color: $dark1;
  }
}
