.button {
	float: left;
	height: 50px;
	padding: 0 30px;

	color: $light2;
	font-size: 22px;
	font-family: $open;
	line-height: 49px;
	
	background-color: transparentize($dark1, .2);
	border-radius: 2px;
	
	cursor: pointer;
	
	&,
	svg {
		transition: .2s ease-out;
	}
	
	&:hover {
		background-color: $light4 !important;
		
		color: $bgcolor;
		
		svg {
			fill: $bgcolor !important;
		}
	}
	
	&:active {
		background-color: $dark3;
	}
	
	&.small {
		height: 42px;
		padding: 0 20px;
		
		font-size: 18px;
		line-height: 42px;
	}
	
	&.big {
		height: 64px;
		
		font-size: 24px;
		line-height: 62px;
	}
}