.lang-switcher {
	width: 82px;
	height: 28px;

	font-size: 18px;
	font-weight: 600;
	line-height: 28px;

	background-color: $bgcolor;
	text-align: center;

	* {
		position: relative;

		display: inline-block;
		padding: 0 5px;

		color: $dark2;

		cursor: pointer;
	}

	span {
		padding: 0;
	}

	.active {
		color: $light1;
	}
}

#menu .lang-switcher {
	background-color: transparent;
}
