$transition: .3s ease-out;

// TODO: add a semitransparent background to projects nav
.projects-nav {
  .nav-item {
    position: relative;

    float: right;
    width: 16px;
    height: 36px;
    margin-bottom: 8px;

    background-size: 0 0;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
    transition: $transition;

    .inner {
      float: right;
      max-width: 4px;
      height: 36px;
      margin-right: 6px;
      overflow: hidden;

      background-color: transparentize($dark1, .4);
      border-right: 4px solid $dark3;
      border-radius: 1px;

      transition: $transition;

      span {
        float: right;
        padding: 0 10px;

        color: $light2;
        font-size: 18px;
        font-weight: 300;
        line-height: 34px;
        white-space: nowrap;
      }
    }

    &.active .inner {
      color: $bgcolor;
      border: 0;

      background-color: $light2 !important;
    }

    &:last-of-type .inner {
      border-color: darken($dark3, 12);

      background-color: transparentize(darken($dark3, 12), .4);
    }

    // hover state
    &:hover {
      .inner {
        max-width: 220px;
      }

      &.active .inner {
        max-width: 4px;

        border: 0;
        background-color: $light2 !important;
      }
    }
  }

  &:hover .nav-item {
    width: 120px;
  }
}
