.my-skills {
	.tag {
		float: left;
		height: 32px;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 0 12px;

		color: $light2;
		line-height: 30px;
		font-size: 18px;

		background-color: $bgcolor;
		border: solid 1px $light2;
		border-radius: 2px;
	}
}