// Horizontally center a div
@mixin h-center($width) {
  width: $width;
  left: 50%;
  margin-left: (-$width / 2);
}

@mixin v-center($height) {
  height: $height;
  top: 50%;
  margin-top: (-$height / 2);
}
