// Colors
$light1: #3dd5fc;
$light2: #9be6fd;
$light3: #d9f5fe;
$light4: #6fe0fd;

$dark1: #001e30;
$dark2: #186782;
$dark3: #006a85;
$dark4: #0085a3;

$bgcolor: #000e1a;

// Fonts
$josefin: 'Josefin Sans';
$source: 'Source Sans Pro';
$open: 'Open Sans';
